<!DOCTYPE html>
<html>
<head>
    <title>Write Variables to CSV</title>
</head>
<body>
    <h1>Enter Variables to CSV file</h1>
    <form action="/" method="POST">
        <label for="Input 1">Input 1:</label>
        <input type="text" id="variable1" name="variable1" placeholder="keyword, location">
        <br><br>
        <label for="Input 2">Input 2:</label>
        <input type="text" id="variable2" name="variable2" placeholder="keyword, location">
        <br><br>
        <label for="Input 3">Input 3:</label>
        <input type="text" id="variable3" name="variable3" placeholder="keyword, location">
        <br><br>
        <label for="Input 4">Input 4:</label>
        <input type="text" id="variable4" name="variable4" placeholder="keyword, location">
        <br><br>
        <button type="submit">Submit</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>
